/********* Frontend Mentor ******************/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/******************************************/

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass';
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.beforeSubmit,
.afterSubmit{ 
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#starLogo{ 
    background-color: hsl(213, 21%, 26%);
    padding: 15px;
    border-radius: 50%;
}

.beforeSubmit .text h2{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.beforeSubmit .text p{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    opacity: 0.6;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0;
    cursor: pointer; 
}

ul li{
    background-color: hsl(213, 21%, 26%);
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 17px;
    height: 16px;
}

button{
    background-color: hsl(25, 97%, 53%);
    font-family: 'Overpass';
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

ul li:hover{
    background-color: hsla(0, 26%, 93%, 0.466);
    opacity: 0.7;
}



.afterSubmit{
    align-items: center;
    position: absolute;
    top: 20%;
    opacity: 0;
}

.afterSubmit .textResult{
    background-color: hsl(213, 21%, 26%);
    border-radius: 15px;
    padding: 0 20px 0 20px;
    margin-top: 30px;
}

.afterSubmit .textResult p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(25, 97%, 53%);
}

.merits{
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 2px;
}

.merits p{
    opacity: 0.6;
}


/*
    -------------    Javascript add    ----------------
*/

.active{
    opacity: 1;
}